@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
.home .background {
  background-image: url('/src/assets/Home-background.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.home .content {
  position: relative;
  padding:50px 30px;
  color: #fff;
  z-index: 1;
  font-family: 'Anton', sans-serif;
}
