/* NavBar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(51, 52, 68);
    color: #fff;
  }

.navbar-brand a {
    display: flex;
    align-items: center;
  }

.navbar-brand img {
    height: 40px;
  }

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

.navbar-item {
    margin-left: 4rem;
    position: relative;
    font-family: 'Roboto', sans-serif;
  }

.navbar-item a:link, .navbar-item a:active, .navbar-item a:visited, .navbar-item span {
    color: rgb(173, 209, 238);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.1rem;
    padding: 1rem;
  }

.navbar-item a:hover, .navbar-item span:hover  {
    color: rgb(248, 194, 119);
    text-decoration: none;
  }

.dropdown-menu {
    position: absolute;
    top: 150%;
    left: 0;
    background-color: rgb(77, 129, 159, 0.9);
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
  }

.dropdown-item {
    padding: 0rem 0.5rem;
    text-align: left;
  }

.dropdown-item a {
    color: #fff;
    text-decoration: none;
    display: block;
  }

.dropdown-item a:hover {
    text-decoration: none;
  }