body {
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
  }

.Shopping {
    padding: 20px;
  }

.shoppingHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

.product-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

.product {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

.product img {
    width: 100px;
    height: 100px;
  }

.cart {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
